@charset "UTF-8";
/**
 * Reset some basic elements
 */
blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
  line-height: 1.9; }

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.9; }

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", "Helvetica", "Tahoma", "Arial", "STXihei", "Microsoft YaHei", "微软雅黑", "sans-serif";
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
blockquote,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
ul {
  margin-bottom: 5px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

p > img {
  margin: 15px 0; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ol,
ul {
  margin-left: 30px; }

li > ol,
li > ul {
  margin-bottom: 0; }

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-align: center; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #7200B7;
  border-left: 4px solid #B70F0F;
  padding-left: 15px;
  font-size: 17px;
  letter-spacing: 0;
  /*font-style: italic;*/ }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
code,
pre {
  font-family: "monospace", "consolas", "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
  font-size: 14px;
  border: 1px solid rgba(169, 169, 169, 0.34);
  border-radius: 3px;
  background-color: #F7F7F7;
  line-height: 1.6; }

code {
  padding: 2px 3.5px; }

pre {
  margin: 15px 0;
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

dl {
  font-family: "Helvetica Neue", "Helvetica", "Tahoma", "Arial", "STXihei", "Microsoft YaHei", "微软雅黑", "sans-serif"; }
  dl > dt {
    font-size: 18px;
    color: red; }
  dl > dd {
    color: blue;
    padding-left: 15px; }
    dl > dd > code {
      color: #25D223;
      font-family: consolas;
      /* padding: 5px; */
      border: 1px solid #CE35B6;
      border-radius: 8px;
      margin: 2px 6px; }
    dl > dd > pre {
      color: #FF0101;
      margin: 10px;
      border-radius: 6px;
      border-color: #A9783A; }

/**
 * Wrapper
 */
.content-wrapper {
  max-width: -webkit-calc(1160px - (30px * 2));
  max-width: calc(1160px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  border: 2px solid #ACD2F1;
  border-radius: 5px; }
  @media screen and (max-width: 800px) {
    .content-wrapper {
      max-width: -webkit-calc(1160px - (30px));
      max-width: calc(1160px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

.blog-content-wrapper {
  max-width: -webkit-calc(900px - (30px * 2));
  max-width: calc(900px - (30px * 2));
  float: left; }
  @media screen and (max-width: 800px) {
    .blog-content-wrapper {
      max-width: -webkit-calc(900px - (30px));
      max-width: calc(900px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

.list-page-content {
  padding-top: 15px;
  padding-bottom: 15px; }
  .list-page-content > ul > li {
    border: 2px solid rgba(12, 148, 90, 0.63);
    padding: 3px 0px 3px 25px;
    border-radius: 15px; }

.bloger-introduce {
  max-width: -webkit-calc(260px - (30px * 2));
  max-width: calc(260px - (30px * 2));
  font-family: "monospace", "consolas", "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
  float: right; }
  .bloger-introduce > medie-play {
    width: 200px;
    height: 300px;
    float: right; }

#uyan_frame {
  border-color: red;
  border: 1px solid greenyellow;
  border-radius: 5px;
  padding: 20px; }

.header-wrapper {
  max-width: -webkit-calc(1160px - (30px * 2));
  max-width: calc(1160px - (30px * 2));
  border: 2.5px solid #3548c5;
  border-radius: 5px;
  height: 46px;
  padding: 0 30px;
  margin: auto; }

.footer-wrapper {
  max-width: -webkit-calc(1160px - (30px * 2));
  max-width: calc(1160px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  border: 5px solid #ACD2F1;
  border-radius: 5px;
  position: relative;
  z-index: -1; }

/**
 * Clearfix
 */
.content-wrapper:after, .blog-content-wrapper:after, .footer-col-wrapper:after, .post:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  background-color: #0767c8;
  border-bottom: 2px solid #044E97;
  border-radius: 5px;
  height: 48px;
  width: 100%;
  position: fixed; }

.site-title {
  font-size: 26px;
  font-weight: bolder;
  line-height: 48px;
  letter-spacing: 2px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #FFFFFF; }

.site-searche {
  width: 400px;
  margin: 0 0 0 250px;
  float: left;
  height: 48px; }

.search-text {
  height: 30px;
  width: 300px;
  border: 1px solid blue;
  border-radius: 6px;
  margin: 8px; }

.search-button {
  height: 33px;
  width: 70px;
  border: 2px solid blue;
  border-radius: 6px;
  background-color: #1BB4F9;
  color: #795548; }

.site-nav {
  float: right;
  line-height: 48px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 180px;
          height: 150px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none;
        color: #FFFFFF;
        font-weight: normal; }
      .site-nav:hover .trigger {
        display: block;
        font-weight: bold;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.footer-heading {
  font-size: 18px;
  margin: 20px 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 60px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282;
  text-align: center; }

.post-cutoff-line {
  width: 840px;
  border: 3px solid #859CA7; }

.post-link {
  display: block;
  font-size: 24px;
  text-align: left; }

/**
 * Posts
 */
.post {
  max-width: -webkit-calc(900px - (30px * 2));
  max-width: calc(900px - (30px * 2));
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 800px) {
    .post {
      max-width: -webkit-calc(900px - (30px));
      max-width: calc(900px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  padding: 20px 30px;
  border-color: blue;
  border: 1px solid yellow;
  min-height: 550px;
  margin-bottom: 35px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px;
    text-align: center; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

.home {
  padding: 20px 35px;
  border-radius: 5px;
  border: 2px solid #c9e6f2;
  min-height: 550px; }

.header-icon {
  float: left;
  width: 47px;
  height: 47px;
  margin-right: 20px; }

.header-icon-info {
  float: right;
  width: 47px;
  height: 47px;
  margin-left: 20px; }

.header-info {
  float: right;
  font-size: 15px;
  font-weight: bolder;
  line-height: 48px;
  letter-spacing: 2px;
  margin-bottom: 0;
  color: red; }
  .header-info .page-link {
    color: #FFFFFF;
    font-weight: bold;
    line-height: 1.5; }
    .header-info .page-link:not(:last-child) {
      margin-right: 20px; }

.header-title {
  float: left; }

/**
 * Syntax highlighting styles
 */
.highlight {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Comment.Hashbang */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.PreprocFile */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Bin */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  .highlight .hll {
    background-color: #ffffcc; }
  .highlight .c {
    color: #aaaaaa;
    font-style: italic; }
  .highlight .err {
    color: #FF0000;
    background-color: #FFAAAA; }
  .highlight .k {
    color: #0000aa; }
  .highlight .ch {
    color: #aaaaaa;
    font-style: italic; }
  .highlight .cm {
    color: #aaaaaa;
    font-style: italic; }
  .highlight .cp {
    color: #4c8317; }
  .highlight .cpf {
    color: #aaaaaa;
    font-style: italic; }
  .highlight .c1 {
    color: #aaaaaa;
    font-style: italic; }
  .highlight .cs {
    color: #0000aa;
    font-style: italic; }
  .highlight .gd {
    color: #aa0000; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #aa0000; }
  .highlight .gh {
    color: #000080;
    font-weight: bold; }
  .highlight .gi {
    color: #00aa00; }
  .highlight .go {
    color: #888888; }
  .highlight .gp {
    color: #555555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #800080;
    font-weight: bold; }
  .highlight .gt {
    color: #aa0000; }
  .highlight .kc {
    color: #0000aa; }
  .highlight .kd {
    color: #0000aa; }
  .highlight .kn {
    color: #0000aa; }
  .highlight .kp {
    color: #0000aa; }
  .highlight .kr {
    color: #0000aa; }
  .highlight .kt {
    color: #00aaaa; }
  .highlight .m {
    color: #009999; }
  .highlight .s {
    color: #aa5500; }
  .highlight .na {
    color: #1e90ff; }
  .highlight .nb {
    color: #00aaaa; }
  .highlight .nc {
    color: #00aa00;
    text-decoration: underline; }
  .highlight .no {
    color: #aa0000; }
  .highlight .nd {
    color: #888888; }
  .highlight .ni {
    color: #880000;
    font-weight: bold; }
  .highlight .nf {
    color: #00aa00; }
  .highlight .nn {
    color: #00aaaa;
    text-decoration: underline; }
  .highlight .nt {
    color: #1e90ff;
    font-weight: bold; }
  .highlight .nv {
    color: #aa0000; }
  .highlight .ow {
    color: #0000aa; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mb {
    color: #009999; }
  .highlight .mf {
    color: #009999; }
  .highlight .mh {
    color: #009999; }
  .highlight .mi {
    color: #009999; }
  .highlight .mo {
    color: #009999; }
  .highlight .sb {
    color: #aa5500; }
  .highlight .sc {
    color: #aa5500; }
  .highlight .sd {
    color: #aa5500; }
  .highlight .s2 {
    color: #aa5500; }
  .highlight .se {
    color: #aa5500; }
  .highlight .sh {
    color: #aa5500; }
  .highlight .si {
    color: #aa5500; }
  .highlight .sx {
    color: #aa5500; }
  .highlight .sr {
    color: #009999; }
  .highlight .s1 {
    color: #aa5500; }
  .highlight .ss {
    color: #0000aa; }
  .highlight .bp {
    color: #00aaaa; }
  .highlight .vc {
    color: #aa0000; }
  .highlight .vg {
    color: #aa0000; }
  .highlight .vi {
    color: #aa0000; }
  .highlight .il {
    color: #009999; }

.baymax {
  /*设置为居中*/
  margin: 0 auto;
  /*高度*/
  height: 600px;
  /*隐藏溢出*/
  background: #595959; }

.head {
  height: 64px;
  width: 100px;
  border-radius: 50%;
  /*百分50什么东西*/
  margin: 0 auto -20px;
  background: #FFF;
  border-bottom: 5px solid #e0e0e0;
  position: relative; }

.eye-left,
.eye-right {
  width: 10px;
  height: 12px;
  background-color: #282828;
  border-radius: 50%;
  position: relative;
  top: 30px;
  left: 27px;
  transform: rotate(8deg); }

.eye-right {
  transform: rotate(-8deg);
  left: 69px;
  top: 17px; }

.mouth {
  width: 38px;
  height: 1.5px;
  background: #282828;
  position: relative;
  left: 34px;
  top: 10px; }

.belly,
.torso {
  margin: 0 auto;
  height: 200px;
  width: 180px;
  border: 5px solid #e0e0e0;
  background: #FFF;
  border-radius: 45%;
  border-top: none; }

.belly {
  height: 300px;
  width: 245px;
  margin-top: -150px;
  border: 5px solid gray;
  position: relative;
  z-index: 10; }

.cover {
  width: 190px;
  background: #FFF;
  height: 150px;
  margin: 0 auto;
  position: relative;
  top: -20px;
  border-radius: 50%; }

.heart {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  box-shadow: 2px 5px 2px #CCC inset;
  right: -115px;
  top: 90px;
  z-index: 30;
  border: 2px solid #CCC; }

.arm-left,
.arm-right {
  height: 270px;
  width: 120px;
  border-radius: 50%;
  background: #FFF;
  margin: 0 auto;
  position: relative;
  top: -350px;
  left: -100px;
  transform: rotate(20deg); }

.arm-right {
  transform: rotate(-20deg);
  left: 100px;
  top: -620px; }

.finger-left-big,
.finger-right-big {
  height: 50px;
  width: 20px;
  border-radius: 50%;
  background: #FFF;
  position: relative;
  top: 250px;
  left: 50px;
  transform: rotate(-50deg); }

.finger-right-big {
  transform: rotate(50deg);
  left: 50px; }

.finger-left-small,
.finger-right-small {
  height: 35px;
  width: 15px;
  border-radius: 50%;
  background: #FFF;
  position: relative;
  top: 195px;
  left: 66px;
  transform: rotate(-40deg); }

.finger-right-small {
  transform: rotate(40deg);
  top: 195px;
  left: 37px; }

.leg-left,
.leg-right {
  height: 170px;
  width: 90px;
  position: relative;
  margin: 0 auto;
  background: #FFF;
  border-radius: 40% 30% 10px 45%;
  top: -640px;
  left: -45px;
  transform: rotate(-1deg); }

.leg-right {
  transform: rotate(1deg);
  border-radius: 30% 40% 45% 10px;
  top: -810px;
  left: 50px;
  margin: 0 auto; }
